on:
  pull_request:
  push:
    branches: [master]
name: Test
jobs:
  test:
    name: ${{ matrix.os }} on node ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14, 16, 18]
    steps:
      - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1
      - uses: actions/setup-node@b6651e20e530d6e6b845a9828606779e89f5529c # v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install
      - run: git config --global user.email "patch-package@test.com"
      - run: git config --global user.name "patch-package"
      - run: yarn run test
